.Container {  						/*Formatting for the Container, everything under this resides within the container*/
    border:solid 1px;
    height:100px;
}

.AlbumArt {
									/*Formatting for Album cover art image*/
}

.Artist {							/*Formatting for the Artist entry*/
	font-style: italic;  
}

.Name {								/*Formatting for the Name entry*/
    font-weight:bold;
}
